.app-sidebar{
    width:66px;
    height:100vh;
    background-color: $clr3;
    // margin:0;
    > img {
        width:25px;
        padding:7px;
        margin: 8px 8px;
        box-sizing: unset;
        &:hover{
            background-color: #000;
            border-radius: 8px;
        }
        // height:;
    }
}