.header {
  padding: toRem(16) toRem(30) 0 toRem(30);

  .btn-container {
    margin-top:20px;
    & > * {
      @include headerBtn;
      &:hover {
        @include hoverHeader;
      }
    }
    .main {
      @include mkIcon('\f420');
    }
    .timeline {
      @include mkIcon('\f211');
    }
    .more {
      &::after {
        content: '\f106';

        padding: 0 5px;
        font-family: 'IconFont';
        font-style: 'normal';
      }
    }
    .add {
      @include mkIcon('\f47b');
    }
  }

  .description {
    padding: 2px;
    margin-top: 20px;
    width: 70%;
    &:hover {
      @include hoverToEditTxt;
    }
    &:focus {
      @include hoverToEditTxt;
    }
    &:empty:before {
      content: attr(data-placeholder);
    }
  }
  .board-header-top {
    width: 100%;

    .info-star {
      margin-inline-start: -20%;
      z-index: 1;

      .info {
        color: $clr5;
        @include headerBtn;
        @include mkIcon('\f345');
      }
      .star {
        @include headerBtn;
        @include mkIcon('\f3dc');
      }
      .flex {
        justify-content: start;
        align-items: center;
      }
    }

    .board-title {
      line-height: toRem(40);
      font-size: toRem(32);
      font-weight: 100;
      width: 100%;
      max-height: toRem(40);
      text-transform: capitalize;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0 3px ;

      @media (max-width: 1450px) {
        font-size: toRem(24);
      }
      
      &:hover {
        outline: solid $clr18 1px;
        cursor:text;
        border-radius: 4px;
        // padding: 3px ;
      }
    }

    &.flex {
      justify-content: space-between;
      .board-actions {
        flex-basis: 40%;
        &.flex {
          padding: 2px;
          justify-content: space-between;
        }
        .invite {
          @include mkIcon('\f3fb');
        }
        .activity {
          @include mkIcon('\f468');
        }
        .add {
          @include mkIcon('\f47b');
          border: 1px solid #bdbdbd;
          border-radius: 0.3em;
        }
      }
      .board-title {
        flex-basis: 30%;
        text-overflow: ellipsis;
        overflow: hidden;

        &:focus {
          @include hoverToEditTxt;
        }
      }
    }
  }
}
