.board-options {
    padding: 0.5%;
    position: absolute;
    z-index: 201;
    height: fit-content;
    width: toRem(200);
    top: 115%;
    right:10px;
    background-color: #fff;
    border-radius: 0.3em;
    box-shadow: 0px 0px 20px 2px $clr6;
    
    .input-container {
        width: 100%;
        text-align: start;
        padding: 2%;
  
      label[for='duplicate'] {
        @include mkIcon('\f30c');
      }
      label[for='remove'] {
        @include mkIcon('\f2ff');
      }
  
      &:hover {
        @include hoverHeader;
      }
    }
  }
  