.date-picker {
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: unset;
    outline: none;
  }
  .el-input__inner {
    text-align: center;
    background-color: transparent;
    outline: none;
  }
  .el-icon.el-input__icon svg {
    display: none;
  }
}