.group-dialog {
  position: relative;
  align-items: center;
  .btn-dialog {
    margin-inline-end: toRem(10);
    // background-color: $clrG1;

    i {
      color: #fff;
      transform: translateY(-20%);
    }
    &.flex {
      align-items: center;
      justify-content: center;
    }

    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }

  .title-wrapper {
    width: 100%;
    &.flex {
      .col-headers {
        &.flex {
          flex: 1;
          .label {
            padding: 5px;
            text-transform: capitalize;
            width: 25%;
            text-align: center;
          }
        }
      }
    }
  }
  .group-title {
    margin: 0;
    font-size: 1.3em;
    min-width: 410px;
    // padding: 5px;
    // margin-bottom: 5px;
    &:focus {
      outline: 1px solid gray;
    }
  }
}

.group{
  padding-bottom: 2%;
}
