.group-options {
  padding: 0.5%;
  background-color: red;
  position: absolute;
  height: toRem(250);
  width: toRem(250);
  bottom: 19%;
  z-index: 1;
  background-color: #fff;
  border-radius: 0.3em;
  box-shadow: 0px 0px 20px 2px #c3c3c3;

  .input-container {
    width: 100%;
    text-align: start;
    padding: 2%;

    &:hover {
      @include hoverHeader;
    }
    input[type='color'] {
      -webkit-appearance: none;
      border: none;
      width: toRem(25);
      height: toRem(22);
      background: transparent;
    }
    input[type='color']::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    input[type='color']::-webkit-color-swatch {
      border: none;
      border-radius: 50%;
    }
  }
}
