.group-labels {
  position: absolute;
  z-index: -1;

  // width: calc(100% - 35px);
  // margin-inline-start: 35px;
  // line-height: 40px;

  .left-side {
    .title {
      flex-basis: 454px;
      background-color: blue;
      padding: 100px;
    }
  }

  .right-side {
    display: flex;
    width: 100%;
    .labels {
      flex: 1;
      width: 100%;

      .label {
        transition: 0.2s ease;
        text-align: center;
        // background-color: antiquewhite;
        width: calc(100% / 4 - 2.5px);
        text-transform: capitalize;

        &:hover {
          background-color: $clr6;
        }

        &.status-picker,
        &.date-picker,
        &.priority-picker {
          @include colPicker;
        }
        &.member-picker {
          width: 100%;
        }

        // &.priority {
        //   // transform: translateX(-5%);
        //   padding-inline-end: 2%;
        // }
      }
    }
  }
}
