.btn-enter{
    margin-top:20px;
    width:toRem(250);
    height:toRem(70);
    border-radius: toRem(64);
    background-color: #02ca73;
    color: white;
    text-align: center;
    padding: 10px;
    // padding-bottom:10px;
    font-size: toRem(16);
    font-family: 'Roboto 700'
}