.main-hp {
  color: $clr8;
  background: linear-gradient(#101049 0%, #101049 100%);
  padding-top: 64px;
  height: 100vh;
  width: 100vw;
  // .stars-canvas {
  //   position: absolute;
  //   height: 100%;
  //   width: 1440px;
  // }
  .main-board {
    font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    line-height: 1.15;
    text-align: center;
    width: 800px;
    height: 10%;
    margin-left: 22vw;
    // margin-top: 15%;
    .title {
      font-size: 40px;
    }
    .description {
      font-size: 20px;
    }
    .demo-btn {
      background-image: linear-gradient(90deg, #5034ff 25.69%, #b4b4ff 100%);
      color: $clr8;
      min-width: 130px;
      padding: 16px 32px;
      cursor: pointer;
      font-size: 18px;
      border-radius: 40px;
      border: none;
      font-weight: 400;
      line-height: 17px;
      overflow: hidden;
      &:hover {
        filter: brightness(85%);
        outline: none;
      }
      .arrow {
        padding-left: 12px;
        padding-right: 6px;
        transition: padding 0.3s ease-in-out;
        svg {
          fill: currentColor;
          height: 12px;
          width: 16px;
        }
      }
    }
  }

  .picture-component {
    img {
      // transform: scale(0.7);
      // height:800px;
      background-color: transparent;
      // z-index:-1;
      padding-top: 16vh;
      position:absolute;
      bottom:0;
      // padding-bottom:10px;
    }
  }
}
