.members-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  
  .member {
    text-align: center;
    font-size: 0.8rem;
    color: $clr8;
    font-weight: 700;
    border: 2px solid $clr10;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 -4px;
    flex-shrink: 0;
    position: relative;
    margin-top: 3px;
    
    &.flex {
      justify-content: center;
      align-items: center;
    }
  }
}

.mini-member {
  &:hover {
    display: block;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.member-modal {
  position: absolute;
  z-index: 10000;
  left: 0;
  top: toRem(45);
  height: fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 0.3em;
  @include modalShadow;
  padding: 2%;
  
  .member-in-modal {
    font-size: 0.8rem;
    color: #fff;
    background-color: $clr6;
    height: 30px;
    width: 60px;
    border-radius: 2rem;
    margin-bottom: 2%;
    .member-name {
      border-radius: 2rem;
      width: 100%;
      text-align: center;
    }
    button {
      color: #fff;
      background-color: transparent;
      border: none;
      border-radius: 50%;
      font-size: 0.5rem;
      padding: 0 20%;
    }
    &.flex {
      justify-content: space-around;
      padding: 0 5%;
      align-items: center;
    }
  }
  .member-input {
    &.flex {
      flex-direction: row-reverse;
      &:focus {
        transition: 0.3s ease-in-out;
      }
      
      .add {
        @include headerBtn;
        border: 1px solid $clr6;
        border-left: none;
        font-size: 1.2rem;
        
        &:hover {
          @include hoverHeader;
        }
      }
    }
  }
}
.member-picker {
  @include memberPicker;
  position: relative;
  width: 100%;
  .update-member {
    position: absolute;
    height: toRem(100);
  }

  .no-member-container {
    &.flex {
      margin-top: 3px;
      max-width: auto;
      justify-content: center;
      align-items: center;
      .no-member {
        width: toRem(30);
        margin: auto;
      }
    }
  }
}
