.status {
    // position:relative;
    &:hover {
        transition: border-width 0.3s ease;
        border-width: 0 18px 18px 0;
        // position: absolute;
        top: 0;
        right: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.2) $clr8;
    }

}
.picker-box {
    background-color: $clr8;
    position: absolute;
}
.working {
    background-color: $stClrWorking;
}
.stuck {
    background-color: $stClrStuck;
}
.done {
    color: $clr8;
    background-color: $stClrDone;
}
.null {
    color: $clr8;
    background-color: rgb(187, 187, 187);
}
