.status-bar {
  display: flex;
  .left-side{
    min-width: 640px;
  }
  .right-side{
    .status-container {
      background-color: $clr10;
      width:140px;
      height:toRem(40);
      > ul {
        
        // margin: 0 8px;
        // margin-left:10px;
        min-width: 100%;
        >li > div {
          margin-top: 4px;

        }
      }
    }
  }

  // margin: auto;
  // margin-top: 30px;
}
