.picker-box {
    background-color: $clr8;
    position:absolute;

}
.working {
    background-color: $stClrWorking;
}
.stuck {
    background-color: $stClrStuck;
}
.done {
    color: $clr8;
    background-color: $stClrDone;
}
.null {
    color: $clr8;
    background-color: rgb(187, 187, 187);
}