.task-details {
  z-index: 10;
  transition: 0.2 ease;
  background-color: #ffffff;
  border-left: 1px solid black;
  position: fixed;
  height: 100vh;
  width: 50%;
  top: 0%;
  right: 0%;
  padding: 1em;
  box-shadow: 5px 5px 12px 2px #000000;
  .title {
    text-transform: capitalize;
  }

  button {
    @include headerBtn;

    &:hover {
      @include hoverHeader;
    }
  }
}
.task-updates {
  padding-top: toRem(20);
  .update-list {
    li {
      border: 1px solid grey;
      margin-bottom: 5px;
      border-radius: 0.2rem;
      padding: 1em;
      h4 {
        height: toRem(50);
        text-transform: capitalize;
      }
    }
  }
  input[type='text'] {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid blue;

    &:focus {
      outline: 1px solid blue;
      height: 20vh;
    }
  }
}

.activity-log {
  td {
    border: 1px solid black;
  }
}
