.task-details {
  z-index: 10;
  transition: 0.2 ease;
  background-color: #ffffff;
  border-left: 1px solid $clr9;
  position: fixed;
  height: 100vh;
  width: 33%;
  top: 0%;
  right: 0%;
  padding: 1em;
  box-shadow: 5px 5px 12px 2px $clr9;
  // .title {
  //   text-transform: capitalize;
  // }


  .title{
    h2{
      font-family: 'Roboto 300'
    }
  }
  button {
    @include headerBtn;
    color: #777777;
    padding: 7px 9px 5px 9px;

    &:hover {
      @include hoverHeader;
    }
  }
}
.task-updates {
  padding-top: toRem(20);
  .update-list {
    li {
      width: 100%;
      border:1px solid $clr11;
      margin-bottom: 5px;
      border-radius: 0.5rem;
      padding: 1rem;
      margin-bottom: 1rem;
      h4 {
        height: toRem(50);
        text-transform: capitalize;
         font-family: 'Roboto 300'
       
      }
    }
  }
  textarea[type='text'] {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;

    border-radius: 0.5rem;
    border: 1px solid rgb(93, 93, 233);
    resize: none;
    font-family: 'Roboto 300';
    &::placeholder {
      font-family: 'Roboto 300';
    }
    &:focus {
      outline: 1px solid blue;
      height: 20vh;
    }
  }
}

.activity-log {
  td {
    padding-right: 1em;
  }
}
