* {
  box-sizing: border-box; }

body {
  margin: 0; }

.app-sidebar {
  width: 66px;
  height: 100vh;
  background-color: #292f4c; }
  .app-sidebar > img {
    width: 25px;
    padding: 7px;
    margin: 8px 8px;
    box-sizing: unset; }
    .app-sidebar > img:hover {
      background-color: #000;
      border-radius: 8px; }
