@mixin nav-link {
  background-color: $clr1;
  padding: 0.5em;
  color: #ffff;
  border-radius: 2rem;
}

@mixin input-field {
}
@mixin hoverHeader {
  background-color: $ClrHover;
}
@mixin boardTitle {
  font-size: 3rem;
}

@mixin hoverToEditTxt {
  outline: dashed #3333 2px;
}
