@font-face {
  font-family: 'robotoThin';
  src: url('./../../assets/fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'robotoLight';
  src: url('./../../assets/fonts/Roboto-light.ttf');
}
@font-face {
  font-family: 'robotoRegular';
  src: url('./../../assets/fonts/Roboto-light.ttf');
}
