$clr1: #00b22d;
$clr2: #c2c2c2;
$clr3: #292f4c; /* side bar bgc */
$clr4: #f6f7fb; /* workspace sidebar bgc */
$clr5: #676879; /* workspace title */
$clr6: #c3c3c3; /* bgc task preview */
$clr7: #dcdfec; /* boardlist sidebar button hover */
$clr8: #fff;

// status label colors
$stClrWorking: #fdab3d;
$stClrDone: #00c875;
$stClrHold: #ff5ac4;
$stClrStuck: #e37588;

// heder colors
$ClrHover: #dcdfec;

// group colors
$clrG1: #579bfc;
$clrG2: #a25ddc;
$clrG3: #9cd326;
