$clr1: #00b22d;
$clr2: #c2c2c2;
$clr3: #292f4c; /* side bar bgc */
$clr4: #f6f7fb; /* workspace sidebar bgc */
$clr5: #676879; /* workspace title */
$clr6: #c3c3c3; /* bgc task preview */
$clr7: #dcdfec; /* boardlist sidebar button hover */
$clr8: #fff;
$clr9: #323338; /* primary text-color */
$clr10: #f5f6f8; /* task preview bgc */
$clr11: #c5c7d0; /* bgc edit btn on task preview */
$clr12: #d0d4e4; /* right indicator bgc in task preview */
$clr13: #cce5ff; /* focus on task preview bgc */
$clr14: rgb(87, 155, 252); /* default group color */
$clr15: #0073ea; /* new task btn bgc */
$clr16: #0085ff; /* chat icon hover color */
// status label colors
$stClrWorking: #fda83d;
$stClrDone: #00c875;
$stClrHold: #ff5ac4;
$stClrStuck: #e2445c;

// header colors
$ClrHover: #dcdfec;

// group colors
$clrG1: #579bfc;
$clrG2: #a25ddc;
$clrG3: #9cd326;
